@use "./patterns" as *;

header {
    flex-direction: row;
    justify-content: space-between !important;

    .logo-container,
    #main-nav {
        @extend %centered-flex;
        padding: 0 10px;
        height: 100%;
    }

    .logo-container {
        .logo {
            aspect-ratio: 1/1;
            width: 40px;
        }

        a {
            font-size: 1.25rem;
        }

        .theme-toggle-btn {
            background: transparent;
            border: none;
            padding: 8px;
            border-radius: 50%;
            width: fit-content;
            height: fit-content;
            line-height: 0;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:active svg {
                transform: rotate(45deg);
            }

            &:focus {
                outline: 2px solid var(--quinary-color);
            }

            svg {
                transition: transform 0.3s;
            }
        }
    }

    #main-nav {
        justify-content: flex-end;

        ul {
            @extend %centered-flex;
            gap: 25px;
            list-style-type: none;
        }
    }
}

@media(max-width:655px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}