@use "./patterns" as *;

body {
    @extend %centered-flex, %scrollbar;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    overflow: auto;

    a {
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &.scaling {
            text-decoration-color: var(--quaternary-color);

            &:hover {
                display: inline-block;
                transform: scale(1.05);
            }
        }
    }

    header,
    footer {
        @extend %centered-flex;
        gap: 5px;
        padding: 20px;
    }

    main {
        width: 100%;
    }

    .cta-button {
        @extend %rounded-all-edges;
        display: inline-block;
        padding: 12px 30px;
        background-color: var(--thirdly-color);
        text-decoration: none !important;
        font-weight: bold;
        font-size: 1.1rem;
        border: 2px solid var(--text-color);
        cursor: pointer;

        &:hover:not(:disabled) {
            text-decoration: none;
            transform: scale(1.05);
            background-color: var(--text-color);
            color: var(--thirdly-color);
        }
    }
}